version: "2.4"
services:
    postgres:
        container_name: postgres
        image: postgres:11.4
        platform: linux
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_INITDB_WALDIR: /pg_waldir
            PGDATA: /pg_data
        ports:
            - 5432:5432